@import url('//at.alicdn.com/t/font_2754464_qhtmtdmu7y.css');

.el-input + .el-input {
  margin-left: 10px;
}
.el-input + .el-button {
  margin-left: 10px;
}

.el-tag + .el-tag {
  margin-left: 10px;
}

.el-dialog__header {
  border-bottom: 1px solid #f0f0f0;
}
.el-dialog__footer {
  border-top: 1px solid #f0f0f0;
}
