// 白天scss变量

$font-color: #2c3e50; // 全局默认字体颜色

// layout 开始
$menu-bg: #304156;
$menu-font-color: #eaebec;
$menu-logo-bg: #596778;
$menu-item-hover: #263445;
$menu-item-active-coloe: #409eff;

$header-bg: #fff;
$header-link-color: #606266;
$header-link-hover: rgba(0, 0, 0, 0.025);

$tabs-container-bg:#dcdfe6;
$tabs-bg: #dcdfe6;
$tabs-font-color: #606266;
$tabs-item-active-color: #409eff;

$layout-main: #fff;
// layout 结束
