/* iconfont单色字体图标 */
@import url('//at.alicdn.com/t/font_2754464_8yxl3ux73vi.css');

/* 多色图标基础css 对应由 build/index.html 引入的图标文件 */
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* */

.el-input + .el-input {
  margin-left: 10px;
}
.el-input + .el-button {
  margin-left: 10px;
}

.el-tag + .el-tag {
  margin-left: 10px;
}

.el-dialog__header {
  border-bottom: 1px solid #f0f0f0;
}
.el-dialog__footer {
  border-top: 1px solid #f0f0f0;
}
